<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Create User Profile</h1>

    <% if(errors) { %> 
        <% errors.split(',').forEach(el=>{ %>
            <div style="color: tomato;">
                <%= el %>
            </div>
        <% }) %>
    <% } %> 

    <form action="/user/add" method="post">
        <p>
            Username: <br>
            <input type="text" name="userName" id="">
        </p>

        <p>
            Email: <br>
            <input type="text" name="email" id="">
        </p>      
      
        <p>
            Password: <br>
            <input type="text" name="password" id="">
        </p>

        <p>
            Role: <br>
            <select name="role" id="">
                <option value="" selected disabled>Select Role</option>
                <option value="Admin">Admin</option>
                <option value="User">User - Buyer</option>
            </select>
        </p>
      
        <p>
            First Name: <br>
            <input type="text" name="firstName" id="">
        </p>

        <p>
            Last Name: <br>
            <input type="text" name="lastName" id="">
        </p>

        <p>
            Address: <br>
            <input type="text" name="address" id="">
        </p>

        <p>
            Phone Number: <br>
            <input type="text" name="phoneNumber" id="">
        </p>

        <p>
            Date of Birth: <br>
            <input type="date" name="dateOfBirth" id="">
        </p>

        <button type="submit">SUBMIT</button>
    </form>
    
</body>
</html>