<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>
<body>
    <h1>Homepage</h1>
    
    
    <p>
        Username
        <input type="text" name="" id="">
    </p>
    
    <p>
        Password
        <input type="text" name="" id="">
    </p>
    
<button><a href="/product">Log In</a></button> |
<button><a href="/user/add">Sign Up</a></button>
    
</body>
</html>